/* -------------- CAS PARTICULIER  -------------- */
@media (min-width: 991px) and (max-width: 1500px) { 

    header nav .menu li a {
        text-decoration: none;
        color: #000000;
        padding: 0 10px;
    }
}
/* -------------- FORMAT TABLETTE -------------- */
@media all and (max-width: 991px) {
    /* ---------- */           /* ---------- */
    /* -------------- HEADER --------------- */
    /* ---------- */           /* ---------- */
    header nav .toggle {
        display: block;
        font-size: 35px;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }

    header nav img {
        position: relative;
        z-index: 20;
    }

    header nav .menu li #little-screen {
        display: block;
    }

    header nav #main {
        display: none;
    }

    header nav .logo {
        position: relative;
    }

    .ouvrir {
        display: block;
    }

    .fermer {
        display: none;
    }

    .open .ouvrir {
        display: none;
    }

    .open .fermer {
        display: block;
    }

    header nav .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #FFFFFF;
        flex-direction: column;
        transform: translateX(-100%);
        transition: transform 1s;
        justify-content: center;
        align-items: center;
    }

    header nav .menu li {
        padding: 40px 0;
    }
    header nav .menu li a {
        font-weight: 800;
    }

    .open .menu {
        transform: translateX(0);
    }

    /* ---------- */           /* ---------- */
    /* -------------- HEADER --------------- */
    /* ---------- */           /* ---------- */
    #accueil {
        padding: 5%;
    }

    #accueil .right {
        display: none;
    }

    #accueil .left {
        width: 100%;


    }
    
}