/* ---------- */           /* ---------- */
/* -------------- GENERAL -------------- */
/* ---------- */           /* ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html, body {
	height: 100%;
}

#accueil, #aPropos {
    padding: 0 100px;
}

h1, h2, h3, h4, .red, .blue {
    font-family: 'Rubik', sans-serif;
}
h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h4 {
    font-size: 15px;
    margin-top: 10px;
}

a, button {
    font-size: 15px;
    letter-spacing: 2.1px;
    font-weight: 700;
    cursor: pointer;
}

.btnContact {
    border: none;
    border-radius: 5px;
    width: 170px;
    height: 50px;
    color: #FFFFFF;
}

p {
    font-size: 20px;
    font-weight: 500;
    color: #616161;
}

.red {
    color: #FF3311;
}

.blue {
    color: #004AAD;
}

/* ---------- */                /* ---------- */
/* ----------------- HEADER ----------------- */
/* ---------- */                /* ---------- */
header {

    width: 100%;
    background-color: white;
    filter: drop-shadow(0px 10px 10px rgba(194, 194, 194, 0.25));
    height: 10%;
    display: flex;
}

header nav {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
}

header nav .toggle {
    display: none;
}

header nav .menu {
    display: flex;
    list-style: none;
}

header nav .menu li a {
    text-decoration: none;
    color: #000000;
    padding: 0 50px;
}

header nav .menu li #little-screen {
    display: none;
}

header nav .menu li a:hover {
    color: #004AAD;
}

header nav .btnContact {
    background: #FF3311;
}

header nav .btnContact:hover {
    background: #004AAD;
}

/* ---------- */                /* ---------- */
/* ---------------- ACCUEIL ----------------- */
/* ---------- */                /* ---------- */
#accueil {
    height: 90%;
    background: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#accueil .left .presentation {
    margin: 20px 0 60px 0;
}

#accueil .left #btnWork {
    background: #004AAD;
    font-size: 12px;
}

#accueil .left #btnWork:hover {
    background: #FF3311;
}

#accueil .right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#accueil .right .back {
    background: #004AAD;
    width: 25%;
    height: 90%;
    border-radius: 0px 0px 0px 50px;
    position: absolute;
    right: 0;
    z-index: 0;
}

#accueil .right img {
    height: 80%;
    z-index: 2;
    border: 1px solid #616161;
}

/* ---------- */                /* ---------- */
/* ---------------- A PROPOS ---------------- */
/* ---------- */                /* ---------- */
#aPropos .intro {
    margin-top: 50px;
}

#aPropos .intro .title {
    margin-bottom: 30px;
}

#aPropos .resume {
    background: #FFFFFF;
    box-shadow: 0px 4px 18px 0px rgba(112, 112, 112, 0.21);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    padding: 20px;
    border-radius: 30px;
    margin: 100px auto;
}

#aPropos .resume .cellule {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
